[grapple-container] * {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

[grapple-container] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: none;
}

[grapple-container][data-grapple-visible="true"] {
  display: flex;
}

.grapple-overlay {
  width: 80vw;
  color: white;
}

.grapple-search-box {
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 1em;
}

input#grapple-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;
  outline: none;
}

.grapple-search-results {
  min-height: 100%;
  min-height: -webkit-fill-available;
}

.grapple-search-results::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent, 70%, black);
  pointer-events: none;
}
.grapple-result {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  align-items: center;
  border-radius: 5px;
  padding: 3px 5px;
  margin-bottom: 2px;
}

.grapple-result b {
  font-weight: 600;
}

.grapple-result:hover {
  background: #3c3c3c;
  cursor: pointer;
}

.grapple-result > div {
  overflow: hidden
}

.grapple-result .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grapple-result .folder {
  font-size: 0.75em;
  color: rgb(200, 200, 200);
}
